@charset "UTF-8";

:root {
    --colorBlue: #1D75DE;
    --colorGreen: #1ed760;
    --colorGrey: #dedede;
    --colorBlackBtn: #0B0909;
    --colorGrayBG: #efefef;
    --colorGrayImg: #222326;
    --colorGraytextfooter: #919496;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
}

.maxWidth {
    max-width: 1200px;
    width: 95%;    margin: auto;
}

/* ------------------------------------------------------------------------------ */

header {
    height: 80px;
    background-color: black;
}

nav {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo , .logo a{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 2.1rem;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
    
header ul  a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
}
nav li > a:hover , #mainMenu li span:hover{
    color: var(--colorGreen)
}

header ul a span {
    color: var(--colorGrey);
}

/* ---------------------------------------------------------------------------------------- */

main {
    display: flex;
    flex-flow: column;
}

main h2 {
    font-size: 2.6rem;
    line-height: 3.9rem;
    font-weight: bolder;
}

main section:nth-child(1) {
    background-color: var(--colorBlue);
    height: auto; 
}

.premium{
    color: white;
    margin-top: 64px;
    margin-bottom: 30px;
}


.premium p {
    margin-top: 32px;
    font-size: 1.6rem;
    line-height: 2.6rem;
}
.buttons {
    margin-top: 32px;

    display: flex;
    gap: 8px;
}

.buttons button {
    padding: 16px 32px;
}
.startPremiumBtn {
    border: black;
    border-radius: 100px;
    background-color: var(--colorBlackBtn);
    font-size: medium;
    font-weight: bold;
    color: white;
}
.plansPremiumBtn {
    border-radius: 150px;
    border: 2px solid;
    border-color: white;
    background-color: transparent;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.foot {
    font-size: 0.8rem !important;
}
.foot span {
    text-decoration: underline !important; 
}

main section:nth-child(2) {
    background-color: white;
    height: auto; 

}

.whyPremium {
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.whyPremium h2 {
    margin-bottom: 60px;
}

.whys {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 8px;
}

.whyBoxes {
    display: flex;
    flex-flow: column;
    align-items: center;

    text-align: center;
}

.whyBoxes h3 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.whyBoxes p {
    font-size: 1.1rem;
}

.whyBgSize {
    width: 148px;
    height: 148px;
    background-position: top center;
    background-size: contain;
    margin-bottom: 40px;
}
/* ------------------ imagens dos porque usar o premium --------------------- */
.whyOff {
    background-image: url(../imgs/whys/whyoff.png);

}
.whyNoAdd {
    background-image: url(../imgs/whys/noAdd.png);
    
}
.whyPlayAll {
    background-image: url(../imgs/whys/playAll.png);
}
.whyChooseU{
    background-image: url(../imgs/whys/chooseMusic.png);
}

/* ---------------------------- seção dos planos ------------------------------ */

main section:nth-child(3) {
    background-color: var(--colorGrayBG);
    height: auto; 
}

.plansPremium {
    padding: 70px 0 100px 0 ;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* ---------------------------- Bandeiras -------------------------------- */
.flags {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.flag {
    width: 30px;
    height: 20px;
    background-position: center center;
    background-size: contain;
}

.visa {
    background-image:  url(../imgs/flags/visa-flag.svg);
}

.mastercard {
    background-image: url(../imgs/flags/mastercard-flag.svg);
}

.amex {
    background-image: url(../imgs/flags/amex-flag.svg);
}
.elo {
    background-image: url(../imgs/flags/elo-flag.svg);
}
.hipercard {
    background-image: url(../imgs/flags/hipercard-flag.svg);
}

.flags span {
    text-decoration: underline;
}

/* ------------------------------- Planos ---------------------------------- */

.plans {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.plansPremium h2 , .plansPremium p {
    margin-bottom: 10px;
}

.plansPremium > div {
    margin-bottom: 40px;
}

.plan {
    flex: 1;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    padding: 15px;

    display: flex;
    flex-flow: column;
}

.widthplan {
    height: 200px;
}

.lableBlue {
    width: auto;
    padding: 5px;
    background-color: #1D75DE;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}

.lableWhite {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--colorBlue);
    color: var(--colorBlue);
    font-weight: bolder;
    margin-bottom: 10px;
}

.plan h3 {
    font-size: 1.5rem;

}

.plan p {
    font-size: 1.2rem;
}

.plan hr {
    width: auto;
    margin: 10px 5px;
}

.benefits {
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: right;
    margin-bottom: 10px;
}
.benefits li {
    /* line-height: 1.5rem; */
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.planBtn {
    width: 95%;
    margin: 0 auto 15px;
}

.plan .foot {
    color: var(--colorGrayImg);
}

/* --------------------------------- FOOTER -------------------------------------- */

footer {
    background-color: black;
}

footer section {
    display: flex;
    flex-flow: column;
}
.margin {
    margin-top: 80px;
    margin-bottom: 50px;
}

/* ------------ LINKS -------------- */

.footerLinks {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.columnLinks {
    padding-top: 0.6rem;
    height: 320px;
    color: white;
}

.footerLinks > div > a{
    padding-right: 50px;
}

.listLinks li:nth-child(1) {
    font-weight: bold;
    color: var(--colorGraytextfooter) !important;
    height: 2rem;
}

.listLinks li {
    font-size: 1.1rem;
    margin-bottom: 20px;
    margin-right: 40px;
}

.listLinks li:hover {
    color: var(--colorGreen);
}

.columnLinks:nth-last-child(1) {
    flex: 2.5;

    display: flex;
    justify-content: right;
}
.linkSM {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 1rem;
}

.linkSM li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 55px;
    border-radius: 100px;
    background-color: var(--colorGrayImg);
}



.linkSM li:hover .imgArea {
    background-color: var(--colorGreen);
}

.imgArea {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    fill: white;
}
.imgInsta {
    background-image: url(../imgs/icons/insta-icon.svg);
}
.imgFace {
    background-image: url(../imgs/icons/face-icon.svg);
}
.imgTwitter {
    background-image: url(../imgs/icons/twitter-icon.svg);
}

/* ------------------- BRASIL -------------------- */

.brasil {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.brasil a {
    margin-left: 5px;
    font-size: 0.8rem;
    color: var(--colorGraytextfooter);
}
.brasil a:hover {
    color: var(--colorGreen);
}

/* ---------------- SUPPORTED ----------------- */
.supported {
    width: 100%;
    display: flex;
    justify-content: space-between;

    color: var(--colorGraytextfooter);
}


.supported ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    font-size: 0.8rem;
}

.supported span {
    font-size: 0.9rem;
}
