
:root {
    --colorBlue: #1D75DE;
    --colorGreen: #1ed760;
    --colorGrey: #dedede;
    --colorBlackBtn: #0B0909;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
}

.maxWidth {
    max-width: 1100px;
    margin: auto;
}

/* ------------------------------------------------------------------------------ */

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: black;
}

#mainMenu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#mainMenu a {
    color: white;
}

#mainMenu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 2.1rem;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
    
header ul  a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
}
#mainMenu a:hover , #mainMenu span:hover{
    color: var(--colorGreen)
}

header ul a span {
    color: var(--colorGrey);
}

/* ---------------------------------------------------------------------------------------- */

main {
    display: flex;
    flex-flow: column;
}

main section:nth-child(1) {
    background-color: var(--colorBlue);
    height: auto; 
}

.premium{
    color: white;
    margin-top: 70px;
    margin-bottom: 30px;
}

.premium h2 {

 font-size: 2.6rem;
}

.premium p {
    margin-top: 30px;
    font-size: 1.7rem;
}
.buttons {
    margin-top: 30px;
}

#startPremium {
    width: 130px;
    height: 50px;
    border-radius: 150px;
    background-color: var(--colorBlackBtn);
    font-size: medium;
    font-weight: bold;
    color: white;
}

#plansPremium {
    width: 150px;
    height: 50px;
    border-radius: 150px;
    border-color: white;
    background-color: transparent;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.premium .foot {
    font-size: 0.7rem;
}
.premium .foot span {
    text-decoration: underline;
}

#whyPremium {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#whys {
    display: flex;

    gap: 3rem;
}