
:root {
    --colorBlue: #1D75DE;
    --colorGreen: #1ed760;
    --colorGrey: #dedede;
    --colorBlackBtn: #0B0909;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
}

.maxWidth {
    max-width: 1100px;
    margin: auto;
}

/* ------------------------------------------------------------------------------ */

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: black;
}

#mainMenu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#mainMenu a {
    color: white;
}

#mainMenu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 2.1rem;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
    
header ul  a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
}
#mainMenu a:hover , #mainMenu span:hover{
    color: var(--colorGreen)
}

header ul a span {
    color: var(--colorGrey);
}

/* ---------------------------------------------------------------------------------------- */

main {
    display: flex;
    flex-flow: column;
}

main h2 {
    font-size: 2.6rem;
    font-weight: bolder;
}

main section:nth-child(1) {
    background-color: var(--colorBlue);
    height: auto; 
}

.premium{
    color: white;
    margin-top: 70px;
    margin-bottom: 30px;
}


.premium p {
    margin-top: 30px;
    font-size: 1.7rem;
}
.buttons {
    margin-top: 30px;
}

.startPremium {
    width: 130px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--colorBlackBtn);
    font-size: medium;
    font-weight: bold;
    color: white;
}

.plansPremium {
    width: 150px;
    height: 50px;
    border-radius: 150px;
    border: 2px solid;
    border-color: white;
    background-color: transparent;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.premium .foot {
    font-size: 0.7rem;
}
.premium .foot span {
    text-decoration: underline;
}

main section:nth-child(2) {
    background-color: white;
    height: auto; 

}

.whyPremium {
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.whyPremium h2 {
    margin-bottom: 60px;
}

.whys {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.whyBoxes {
    display: flex;
    flex-flow: column;

    align-items: center;
    text-align: center;
}

.whyBoxes h3 {
    flex: 2;
    margin-bottom: 20px;
}

.whyBgSize {
    width: 148px;
    height: 148px;
    background-position: top center;
    background-size: contain;
    margin-bottom: 40px;
}

.whyOff {
    background-image: url(imgs/whyoff.png);

}
.whyNoAdd {
    background-image: url(imgs/noAdd.png);
    
}

.whyPlayAll {
    background-image: url(imgs/playAll.png);
}

.whyChooseU{
    background-image: url(imgs/chooseMusic.png);
}
